@font-face {
  font-family: Quicksand-light;
  src: url(./Quicksand-Light.ttf);
}
@font-face {
  font-family: Tit;
  src: url(./TitilliumWeb-Light.ttf);
}


.container-metas {
 margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  word-break: break-word;
}
.Tit{
  font-family: Tit;
}
.container_p {
  text-align: center;
  width: 350px;

}
.quicksand{
  font-family: Quicksand-light;
  margin-top: 5px;
  margin-bottom: 20px;
  
  white-space: pre-line;
  
}